*{
  box-sizing: border-box;
  text-decoration: none;
}

.header{
  background-color: rgb(48, 46, 46);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
  position: relative;
}

.bar{
  min-height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  flex-wrap: wrap;
  font-weight: bolder;
}

.navigation{
  min-width: 320px;
  display: flex;
  justify-content: space-between;
}

.main-link, .contact, .navigation{
  padding: 10px 20px 10px 20px;
  color: whitesmoke;
}

.nav-link{
  color: whitesmoke;
}

.contact{
  border: 1px solid whitesmoke;
  margin-right: 20px;
  margin-left: 20px;
}

:root{
  background-image: url(./../img/estudio-ch--varro-mustapan-coffee-shop-shops-archello.1607075335.1427.jpg);
}
